ChristUNI/myupdated/myupdated/Christ.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Chirst">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="modules">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="modulename"/>
              <xs:element type="xs:string" name="title"/>
              <xs:element name="Domain" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="id" use="optional"/>
                      <xs:attribute type="xs:string" name="subjects" use="optional"/>
                      <xs:attribute type="xs:string" name="subjectCode" use="optional"/>
                      <xs:attribute type="xs:string" name="subjectTopic" use="optional"/>
                      <xs:attribute type="xs:string" name="Progress" use="optional"/>
                      <xs:attribute type="xs:byte" name="reviewno" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="m">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Researcher" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="id"/>
                          <xs:element type="xs:string" name="name"/>
                          <xs:element type="xs:string" name="address"/>
                          <xs:element type="xs:long" name="phone"/>
                          <xs:element type="xs:string" name="Topic"/>
                          <xs:element type="xs:string" name="usetype"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="c">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="content" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="title"/>
                          <xs:element type="xs:string" name="info" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="about" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>